body {
    font-weight: 300;
}

input[type=text], input[type=number] {
    padding: 10px 2px;
    margin: 10px;
    width: 200px;
}

label {
    margin: 10px;
}

.statusSelection {
    font-weight: 400;
    color: #31708f;
    list-style-type: none;
}

li>label {
    margin: 2px;
}