body {
    background: black;
}


.loginForm {

    background-color: #fefefe;
    border-radius: 5px;
    padding: 20px;
    width: 40vw;
    display: block;
    margin: 10vh auto;
}

label {
    width: 50%;
    font-size: 15px;
    font-weight: bold;
    display: inline-block;
    padding: 10px;

}

input[type=text], select {
    width: 50%;
    box-sizing: border-box;
    display: inline-block;
    border-radius: 5px;
    float: right;
    padding: 10px;
}

input[type=submit], input[type=submit]:hover {
    cursor: pointer;
    border-radius: 5px;
    color: white;
    font-size: 15px;
    font-weight: bolder;
    width: 50%;
    display: block;
    margin: auto;
    padding: 10px;
}

input[type=submit] {
    background-color: green;
}

input[type=submit]:hover {
    background-color: darkgreen;
}

.loginButton {
    padding: 20px;
}

.brandContainer {
    text-align: center;
    position: relative:
    margin: 20px 0 10px 0;
}